<div id="rt-articles" class="container">
	<div class="page-header">
	    <h1>Artigos</h1>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="rt-posts" ng-repeat="post in blog.posts">
				<div class="col-md-3 rt-post">
					<div class="rt-post-category" ng-repeat="category in post.categories">
		        		<span class="label label-default">{{ category.title }}</span>
		        	</div>
		        	<a ng-href="/{{post.slug}}-m{{post.id}}">
		        		<div class="rt-post-img">
				        	<img class="rt-img" ng-src="{{ post.thumbnail_images.medium.url }}" />
				        </div>
				        <h2>{{ post.title_plain }}</h2>
			        </a>
		        	<div class="rt-post-data">
			        	<div><small>por:</small> {{ post.author.name }}</div>
			        	<div>
			        		<i class="fa fa-comment-o"></i>{{ post.comment_count }} <span class="glyphicon glyphicon-calendar"></span>{{ post.date }}
			        	<div>
		        	</div>
				</div>
			</div>
		</div>
	</div>
</div>