<nav class="navbar navbar-custom navbar-fixed-top" ng-class="fixed ? 'top-nav-collapse' : ''" id="navigation" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a du-smooth-scroll class="navbar-brand" href="#intro">
                <i class="fa fa-play-circle"></i>  <span class="light">Raffael</span> Tancman
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li>
                    <a du-smooth-scroll href="#intro">Início</a>
                </li>
                <li class="page-scroll">
                    <a du-smooth-scroll href="#about">Sobre</a>
                </li>
                <li class="page-scroll">
                    <a href="/artigos">Artigos</a>
                </li>
                <li class="page-scroll">
                    <a href="/projetos">Projetos</a>
                </li>
                <li class="page-scroll">
                    <a du-smooth-scroll href="#contact">Contato</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<section id="intro" class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">rtancman</h1>
                    <p class="intro-text">Raffael Tancman, desenvolvedor Web poliglota. Entusiasta de <a href="http://www.php.net/">PHP</a>, <a href="https://angularjs.org/">angularjs</a> e <a href="http://getbootstrap.com/">bootstrap</a>.</p>
                    <div class="page-scroll">
                        <a du-smooth-scroll href="#about" class="btn btn-circle">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="container content-section">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Sobre mim</h2>
            <p>Olá sou Raffael Tancman, carioca, trabalho com web desde 2008 e atualmente estou no <a href="http://www.personare.com.br/">Personare</a>. Sou gamer e apaixonado por <a href="http://br.leagueoflegends.com/">LOL</a>. Além disso gosto de pegar ondas sempre que possível.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="col-lg-6">
                <strong>Interesses atuais</strong>
                <ul>
                    <li>Otimizações Web</li>
                    <li>Mobile Web e responsive design</li>
                    <li>Cloud computing</li>
                    <li>Vagrant</li>
                    <li>Puppet</li>
                    <li>AngularJS</li>
                    <li>PHP e outras linguagens</li>
                    <li>Wearable computers</li>
                    <li>Git</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <strong>Desinteresses atuais</strong>
                <ul>
                    <li>.NET</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-12">
            <h2>Contato</h2>
            <p>Que tal trocar uma idéia?</p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="mailto:rtancman@gmail.com" class="btn btn-default btn-lg"><i class="fa fa-mail-forward fa-fw"></i> <span class="network-name">e-mail</span></a>
                </li>
                <li>
                    <a href="https://twitter.com/rtancman" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="https://github.com/rtancman" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                    <a href="https://plus.google.com/u/0/101151630245117888262/about" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
                <li>
                    <a href="http://www.facebook.com/rtancman" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                </li>
                <li>
                    <a href="http://www.linkedin.com/pub/raffael-angelo-bahouth-tancman/21/732/9b8" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linked In</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>