<nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" id="navigation" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">
                <i class="fa fa-play-circle"></i>  <span class="light">Raffael</span> Tancman
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li>
                    <a du-smooth-scroll href="/">Início</a>
                    <a href="/abas">abas</a>
                </li>
                <li class="page-scroll">
                    <a href="/artigos">Artigos</a>
                </li>
                <li class="page-scroll">
                    <a href="/projetos">Projetos</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>