<div id="rt-projects" class="container">
    <div class="page-header">
        <h1>Projetos</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="rt-posts" ng-repeat="post in blog.posts">
                <div class="col-md-3">
                    <div class="rt-post-category" ng-repeat="category in post.categories">
                        <span class="label label-default">{{ category.title }}</span>
                    </div>
                    <a ng-href="/{{post.slug}}-m{{post.id}}">
                        <img ng-src="{{ post.thumbnail_images.medium.url }}" />
                        <h2>{{ post.title_plain }}</h2>
                        <small><span class="glyphicon glyphicon-calendar"></span> {{ post.date }}</small>
                        <small><i class="fa fa-comment-o"></i> {{ post.comment_count }}</small>
                    </a>
                    <div class="rt-post-data">
                        <p><span class="glyphicon glyphicon-user"></span></span> {{ post.author.name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>