/* default */

body.home{
  margin-top:0;
}
  body{
    margin-top:100px;
    background: #FFF;
  }

.rt-posts .rt-post{
  padding: 0;
  overflow: hidden;
  color: #000;
  min-height: 450px;
  background: #fafafa;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
  .rt-posts .rt-post img{
     
  }

  .rt-posts .rt-post .rt-post-img{
    overflow: hidden;
    width: 100%;
    height: 180px;
  }

  .rt-posts .rt-post a{
    color: #000;
    overflow: hidden;
  }

  .rt-posts .rt-post h2{
    padding: 20px;
  }
    .rt-posts .rt-post a:hover{
      color: #4D4D4D;
    }

    .rt-posts .rt-post a:hover img{
      z-index: 1;
      /* Webkit for Chrome and Safari */
      -webkit-transform: scale(1.2, 1.2); // This is the enlarged size scale of the image.
      -webkit-transition-duration: 5000ms;
      -webkit-transition-timing-function: ease-out;
     
      /* Webkit for Mozila Firefox */
      -moz-transform: scale(1.2, 1.2);
      -moz-transition-duration: 5000ms;
      -moz-transition-timing-function: ease-out;
     
      /* Webkit for IE( Version: 11, 10 ) */
      -ms-transform: scale(1.20, 1.20);
      -ms-transition-duration: 5000ms;
      -ms-transition-timing-function: ease-out;
    }

  .rt-posts .rt-post .rt-post-category{
    top:2px;
    left:5px;
    position: absolute;
    z-index: 10;
  }
    .rt-posts .rt-post .rt-post-category span{
      background: #fafafa;
      color: #000;
      opacity: 1;
    }

  .rt-posts .rt-post .rt-post-data{
    bottom:0;
    left:0;
    position: absolute;
    width: 100%;
    padding: 20px;
  }

  .rt-posts .rt-post .rt-img{
    width: 100%;
    margin-bottom: 15px;
  } 
  